
body {
    background-color: #3B68BB;
}
  
.header {
padding: 20px;
text-align: center;
background: #5084E4;
color: white;
font-size: 18px;
}

.content{
    text-align: center;
    font-size: 11px;
}